body {
	margin: 0px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 100%;
}

.popup {
	width: 800px;
	text-align: center;
}

.popup-title {
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: gray;
	color: white;
}

.popup-title a{
	color: white;
}

.list-item {
	padding-left: 8px;
	background-color: #eee;
	cursor: pointer;
	line-height: 150%;
	border-style: solid;
	border-width: 1px 0 1px 0;
	border-color: black;
}

.list-item:hover {
	background-color: black;
	color: white;
}
	
